    <nav>
        <div class="nav-wrapper">
        <a href="/" class="brand-logo"><img class="logo" src="/assets/img/logo.png"></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons menu">menu</i></a>
            <ul class="right hide-on-med-and-down">
            
                <li><a href="/auth/facebook">Sign Up</a></li>
                <li><a href="/auth/facebook">Sign In</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">

        <li><a href="/auth/facebook">Sign-up</a></li>
        <li><a href="/auth/facebook">Login</a></li>
    </ul>

        
         <div class="parallax-container">
            <div class="parallax"><img src="/assets/img/oldpeoplelaugh.jpg" style="width:100%"></div>
            <a href="/auth/facebook" target="_blank">
            <div class="text-box">
                <div class="text">
                    <h3>Join Us</h3>
                </div>
            </div>
            </a>
        </div>

        <div class="container" id="home-content">
            <h6>
                Elders has more experience about the way of living, and can be a walking book for your information which can change your life.
            </h6>
        </div>

        <div class="parallax-container">
            <div class="parallax"><img src="/assets/img/oldpeoplelaugh2.jpg" style="width:100%"></div>
        </div>