    <nav>
        <div class="nav-wrapper">
        <a href="/" class="brand-logo"><img src="/assets/img/logo.png"></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons menu">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
    </nav>



    <div class="container" id="success-body">
        <h4>Welcome, {{display-name}}</h4>
        <h4>Thank you for joining ESE!</h4>
        <hr>
        <p>You can open your dashboard!</p>
    </div>